<div class="page-header headerTitle">
    <h1> <i class="fa fa-pie-chart"> </i> Charts</h1>
</div>
<div class="row">
  <div class="col-sm-6">
    <h4>Number of employee older/younger than 30</h2>
    <canvas id="pie" class="chart chart-pie"chart-data="dataPie" chart-labels="labelPie" chart-options="options"></canvas>
  </div>
  <div class="col-sm-6">
    <h4>Number of employee by year</h2>
    <canvas id="line" class="chart chart-line" chart-data="dataLine" chart-labels="labelLine" >
</canvas>
  </div>
  </div>
